<div layout="column" class='md-whiteframe-z1' style='padding-right: 15px'>

  <div layout>
    <div flex="10" layout layout-align="center center">
      <span>$v_B$</span>
    </div>
    <md-slider flex min="0" max="10" step="0.2" ng-model="vars.vB" id="red-slider">
    </md-slider>
    <div flex="20" layout layout-align="center center">
      <input type="number" ng-model="vars.vB">
    </div>
  </div>

  <div layout>
    <div flex="10" layout layout-align="center center">
      <span>$v_S$</span>
    </div>
    <md-slider flex min="0" max="10" step="0.2" ng-model="vars.vS" id="red-slider">
    </md-slider>
    <div flex="20" layout layout-align="center center">
      <input type="number" ng-model="vars.vS">
    </div>
  </div>


</div>
