<svg ng-attr-width="{{SS.svgWidth}}" ng-attr-height="{{SS.svgHeight}}">
  <g class='boilerplate' ng-attr-transform='translate({{SS.M.left}}, {{SS.M.top}})'>
    <rect class='background' ng-attr-width="{{SS.width}}" ng-attr-height="{{SS.height}}"></rect>
    <g class='y axis' y-axis w='SS.width' scale='SS.yScale'></g>
    <g class='x axis' ex-axis h='SS.height' ng-attr-transform="translate(0,{{SS.height}})" scale='SS.xScale'></g>
  </g>
  <g ng-include class='main' src="template" ng-attr-transform='translate({{SS.M.left}}, {{SS.M.top}})'></g>
</svg>

